<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322145768931-dg4766ibkvr2l9fkvofdgfuk7eerucsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322145768931-dg4766ibkvr2l9fkvofdgfuk7eerucsr</string>
	<key>API_KEY</key>
	<string>AIzaSyCauf5_hRjhDxngiB9VFgv0nn9pyNC2Uiw</string>
	<key>GCM_SENDER_ID</key>
	<string>322145768931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.popfiitapp.com</string>
	<key>PROJECT_ID</key>
	<string>popfiit-74abf</string>
	<key>STORAGE_BUCKET</key>
	<string>popfiit-74abf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322145768931:ios:c91323c9825eae1d9d7cd6</string>
</dict>
</plist>